<<<<<<< HEAD
<div class="clipBoard">
    <div class="row col-6 clip"><img src="../public/assets/img/canvasser-large.png" id="logo"></img></div>
    <div class="paper">
        <div class="jumbotron">
            <div class="row col-12">
                <div class="col-3 bg-primary">
                    <h1 class="display-4" id="stars">Welcome To Canvasser!</h1>
                </div>
                <div class="col-9" id="stripes">
                    <div class="col-12 bg-danger" id="redStripe"></div>
                    <div class="col-12 bg-light" id="whiteStripe"></div>
                    <div class="col-12 bg-danger" id="redStripe"></div>
                    <div class="col-12 bg-light" id="whiteStripe"></div>
                    <div class="col-12 bg-danger" id="redStripe"></div>
                    <div class="col-12 bg-light" id="whiteStripe"></div>
                    <div class="col-12 bg-danger" id="redStripe"></div>
                </div>
            </div>
            <p class="lead col-12 bg-light smallFont" id="whiteStripe">Fill out a user <a
                    href="https://getbootstrap.com/docs/4.3/layout/overview/">Profile</a> first, then sumbit and
                fill
                out their
                <a href="https://getbootstrap.com/docs/4.3/layout/overview/">Survey</a>!</p>
            <div class="col-12 bg-danger" id="redStripe"></div>
            <div class="col-12 bg-light" id="whiteStripe"></div>
            <div class="col-12 bg-danger" id="redStripe"></div>
            <p class="col-12 bg-light smallFont" id="whiteStripe">You can graph responses by different demographics
                here
                on the
                homepage.</p>
            <div class="col-12 bg-danger" id="redStripe"></div>
        </div>

        <div class="row">

            <div class="col-6" id="graphDiv">
            </div>
            <div class="col-6" id="graphDiv">
            </div>
        </div>
    </div>
</div>
=======
<h1>Hello world!</h1>
>>>>>>> 4ca340bfe81144257996efcdb2430fc642d16014
