 <h1>Hello world!</h1> 


  <div class="jumbotron">
        <div class="row">
            <div class="col-3 bg-primary">
                <h1 class="display-4" id="stars">Welcome To Canvasser!</h1>
            </div>
            <div class="col-9" id="stripes">
                <div class="col-12 bg-danger" id="redStripe"></div>
                <div class="col-12 bg-light" id="whiteStripe"></div>
                <div class="col-12 bg-danger" id="redStripe"></div>
                <div class="col-12 bg-light" id="whiteStripe"></div>
                <div class="col-12 bg-danger" id="redStripe"></div>
                <div class="col-12 bg-light" id="whiteStripe"></div>
                <div class="col-12 bg-danger" id="redStripe"></div>
            </div>
        </div>
        <p class="lead col-12 bg-light smallFont" id="whiteStripe">Fill out a user <a href="https://getbootstrap.com/docs/4.3/layout/overview/">Profile</a> first, then sumbit and fill out their
            <a href="https://getbootstrap.com/docs/4.3/layout/overview/">Survey</a>!</p>
        <div class="col-12 bg-danger" id="redStripe"></div>
        <div class="col-12 bg-light" id="whiteStripe"></div>
        <div class="col-12 bg-danger" id="redStripe"></div>
        <p class="col-12 bg-light smallFont" id="whiteStripe">You can graph responses by different demographics here on the
            homepage.</p>
        <div class="col-12 bg-danger" id="redStripe"></div>
    </div>

    <div class="row">

        <div class="col-6" id="mapDiv">
            <h4>Map of local Area</h4>
            <img src="http://ontheworldmap.com/usa/united-states-map-max.jpg" alt="map" class="img-fluid" id="MG">
        </div>
        <div class="col-6" id="graphDiv">
            <h4>Graph of current data</h4>
            <img src="https://cdn.vox-cdn.com/thumbor/17A5l2Q8NbGjXYsSxDNCUeEuLl4=/0x0:519x394/1200x800/filters:focal(214x80:296x162)/cdn.vox-cdn.com/uploads/chorus_image/image/51890091/Screen_Shot_2016_11_17_at_12.36.33_PM.0.png"
                alt="graph" class="img-fluid" id="MG">
        </div>
    </div>
