<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

        
<div class="clipBoard">
    <div class="row col-6 clip"><img src="../public/assets/img/canvasser-large.png" id="logo"></img></div>
    <div class="paper">
        <div class="jumbotron">
            <div class="row col-12">
                <div class="col-3 bg-primary">
                    <h1 class="display-4" id="stars">Welcome To Canvasser!</h1>
                </div>
                <div class="col-9" id="stripes">
                    <div class="col-12 bg-danger" id="redStripe"></div>
                    <div class="col-12 bg-light" id="whiteStripe"></div>
                    <div class="col-12 bg-danger" id="redStripe"></div>
                    <div class="col-12 bg-light" id="whiteStripe"></div>
                    <div class="col-12 bg-danger" id="redStripe"></div>
                    <div class="col-12 bg-light" id="whiteStripe"></div>
                    <div class="col-12 bg-danger" id="redStripe"></div>
                </div>
            </div>
            <p class="lead col-12 bg-light smallFont" id="whiteStripe">Fill out a user <a
                    href="https://getbootstrap.com/docs/4.3/layout/overview/">Profile</a> first, then sumbit and
                fill
                out their
                <a href="https://getbootstrap.com/docs/4.3/layout/overview/">Survey</a>!</p>
            <div class="col-12 bg-danger" id="redStripe"></div>
            <div class="col-12 bg-light" id="whiteStripe"></div>
            <div class="col-12 bg-danger" id="redStripe"></div>
            <p class="col-12 bg-light smallFont" id="whiteStripe">You can graph responses by different demographics
                here
                on the
                homepage.</p>
            <div class="col-12 bg-danger" id="redStripe"></div>
        </div>

        <div class="row">

            <div class="col-6" id="graphDiv">
                <div class="container">
                    <canvas id="myChart" width="150" height="75"></canvas>
                </div>
            </div>

            <div class="col-6" id="graphDiv">
                <div class="container">
                    <canvas id="myChart" width="150" height="75"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $.get("/api/survey/all", function (response) {
        var democrat = 0;
        var republican = 0;
        var independent = 0;
        var undecided = 0;
        var abstain = 0;
        var partyCount = [];
        response.forEach(function (user, index) {
            console.log(user)
            console.log(user.party)
            if (user.party === "Democrat") {
                democrat++
            }
            if (user.party === "Republican") {
                republican++
            }
            if (user.party === "Independent") {
                independent++
            }
            if (user.party === "Undecided") {
                undecided++
            }
            if (user.party === "Abstain") {
                abstain++
            }
        })
        partyCount.push(democrat, republican, independent, undecided, abstain)
        createPartyGraph(partyCount)
    })

    function createPartyGraph(partyCount) {
        var ctx = document.getElementById('myChart');
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ['Democrat', 'Republican', 'Independent', 'Undecided', 'Abstain'],
                datasets: [{
                    data: partyCount,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    }


</script>