{{!-- this is the survey form --}}
Hello World

<br/>
{{uuid}}
<br/>
{{firstName}} {{lastName}}

<div class= "container">
    <div class="form-group">
      <label for="exampleFormControlSelect1">Party Affiliation</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Democrat</option>
        <option>Republican</option>
        <option>Independent</option>
        <option>Undecided</option>
        <option>Abstain</option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="exampleFormControlSelect2">Democratic Nominee</label>
      <select class="form-control" id="exampleFormControlSelect2">
        <option>Bernie Sanders</option>
        <option>Kamala Harris</option>
        <option>Other</option>
        <option>Undecided</option>
        <option>Abstain</option>
      </select>
    </div>

    <div class="form-group">
      <label for="exampleFormControlSelect3">Proposition 1</label>
      <select class="form-control" id="exampleFormControlSelect3">
        <option>Yes</option>
        <option>No</option>
        <option>Undecided</option>
        <option>Abstain</option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="exampleFormControlTextarea4">Notes</label>
      <textarea class="form-control" id="exampleFormControlTextarea4" rows="3"></textarea>
    </div>

</div>

{{!-- put jquery to collect form data here --}}
<script>
  
</script>