{{!-- this is the survey form --}}
Survey Form

<br/>
{{userID}}
<br/>
{{firstName}} {{lastName}}

<div class= "container">
  <form id="surveyForm">
    <div class="form-group">
      <label for="partyAff">Party Affiliation</label>
      <select value="" class="form-control" id="party" required>
        <option values="democrat">Democrat</option>
        <option values="republican">Republican</option>
        <option values="independent">Independent</option>
        <option values="undecided">Undecided</option>
        <option values="abstain">Abstain</option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="demNominee">Democratic Nominee</label required>
      <select value="" class="form-control" id="demNominee">
        <option values="bernie sanders">Bernie Sanders</option>
        <option values="kamala harris">Kamala Harris</option>
        <option values="other">Other</option>
        <option values="undecided">Undecided</option>
        <option values="abstain">Abstain</option>
      </select>
    </div>

    <div class="form-group">
      <label for="propChoice">Proposition 1</label required>
      <select value="" class="form-control" id="prop">
        <option values="yes">Yes</option>
        <option values="no">No</option>
        <option values="undecided">Undecided</option>
        <option values="abstain">Abstain</option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="notes">Notes</label>
      <textarea class="form-control" id="notes" rows="3"></textarea>
    </div>

    <button class="btn btn-primary" id="submit-survey">Submit Survey</button>
  
  </form>

</div>

<script>

$("#submit-survey").click(function(event){
    event.preventDefault();
    //populateSurveyData();

    var formIsValid = $("#surveyForm")[0].checkValidity()

    if(formIsValid){
      populateSurveyData()
      //console.log(true)
    }else{
      alert("fill in required fields")
      return
    }
    location.href = "/";
});

function populateSurveyData() {
  var surveyData = {}

  var url = window.location.href;
  url = url.split("/");
  var userID = url[url.length -1];
  surveyData.userID = userID;

  $("select").each(function(){
    var elementVal = $(this).val();
    var elementID = $(this).attr("id");

    if(elementVal.length > 0 && elementVal !== undefined){
      surveyData[elementID] = elementVal;
      $(this).val("");
    }
  });

  if($("#notes").val().trim().length > 0){
    surveyData.notes = $("#notes").val().trim();
  }

  console.log(surveyData);
  createNewSurvey(surveyData);
}

function createNewSurvey(surveyData){
  
  $.post("/api/survey", surveyData, function(results){
    console.log(results);
  });
}

</script>