.hide {
    display: none;
    
}

/* css for clipBoard design around page */

.clipBoard{
    border-style: solid;
    border-color: saddlebrown;
    border-width: 15px
}
.clip{
    background-color: gray;
    margin-left: 25%;
    padding: 0%;
}

#logo{
    height: 5%;
    width: 10%;
    margin-left: 45%;
}
body{
    background-color: wheat;
}

/* --------------------------------------- */


/*css for Flag display on user.handlebar and index.handlebar*/
.jumbotron {
    padding: 0px 0px 0px 0px;
}

#stripes {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;

}
.col-12{
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

#redStripe {
    height: 25px;
}
#whiteStripe {
    height: 25px;
}

#stars {
    color: white;
     font-size: 4vw; 
}

p {
    margin: 0;
}

/*------------------------------------------*/

/* css for survey.handlebars */
#scales {
    padding: 1%;
}

.donk {
    color: blue;
}

.eleph {
    color: red;
}
/* ------------------------------------------ */

/* Homepage css */

h4 {
    text-align: center;
}

#MG {
    padding: 1%;
}

@media (max-width: 576px) {

.smallFont{
    font-size: 50%;  
    
}
}

/* ----------------------------------------------- */